/* Header Styling */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

header .logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo h4 {
  color: MediumAquamarine;
  padding-left: 10px;
}

header nav {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header nav span {
  color: black;
  padding: 20px;
}
