/* Header Styling */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

header .logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo h4 {
  color: MediumAquamarine;
  padding-left: 10px;
}

header nav {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header nav span {
  color: black;
  padding: 20px;
}

/* Main Container */

.main {
  margin: 60px 0;
  font-family: Georgia;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.column {
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.images {
  display: flex;
  width: 100%;
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.story {
  display: flex;
  flex-wrap: wrap;
}

.subcolumn {
  width: 300px;
}

#main-story {
  background-image: url("../images/main-story.png");
  text-align: left;
  padding-left: 20px;
  font-size: 40px;
}

#fall {
  background-image: url("../images/fall.png");
}

#hipster {
  background-image: url("../images/hipster.png");
}

#cat {
  background-image: url("../images/cat.png");
}

#news {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#news span {
  padding: 10px 20px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  color: DimGray;
  flex-grow: 1;
}

/* Footer */

footer {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.content {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

#tag {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  border-right: 2px solid white;
}

footer nav span {
  padding-left: 20px;
}
